* {
    margin: 0px;
    padding: 0px;
    font-family: 'Averta', sans-serif;
}
body {
    margin: auto;
    width: 100%;
    font-family: 'Averta', sans-serif;
    font-size: 14px;
    font-weight: bold;
    background-color: #f0f2f4;
}
a {
    text-decoration: none;
}
ul li{
    list-style: none;
}

#header {
    background: #f5f8ff;
}
#title {
    height: 30px;
    background-color: #f5f8ff;
    font-size: 13px;
    font-family: Averta, sans-serif;
    padding-top: 10px;
}
.dangnhap {
    border-right:2px solid #e0e0d1;
    float: right;
    padding-right: 24px;
    display:flex;
    align-items:center;
}

#main {
    margin-bottom:50px;
}

.dangnhap p {
    float: left;
 }
.dangnhap img {
    float: left;
    padding-right: 10px;
}
#giohang {
    float: right;
    padding-right: 24px;
    display:flex;
    align-items:center;
}
 #giohang p {
    float: left;
    }

#giohang img {
    float: left;
    padding-left: 24px;
    }

.header-top-right {
    vertical-align: middle;
}

.header-top-right a {
        text-decoration: none;
    }

.header-top-right a:hover {
    color: #101269;
}
.header-center {
    width: 100%;
    background: #fbfbfb;
    border-bottom: 1px solid #c8c9e8;
    z-index:100;
}

.sticky-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
}

.group-menu .item {
    list-style-type: none;
    padding-right: 20px;
    text-align: center;
    color: #20315C;
}

.item:hover {
    border-bottom: 2px solid #101269;
    padding-bottom: 6px;
}
.group-menu, .search-bar {
    display: flex;
    
}

.container {
    margin: auto;
    width: 1200px;
}

.content-header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    z-index: 100;
}

.content-header .navbar {
    display: flex;
}

.logo-header {
    padding-right: 30px;
}


.search-bar-form .search .control #search{
    font-style: normal;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 5px 15px;
    border-radius: 5px;
    height: 22px;
    line-height: 33px;
    font-size: 13px;
    min-width: 220px;
    outline: none;
}

.search-bar-form .search .control {
    background: #e5f6ff;
    border-radius: 8px;
}

.search-bar {
    margin-left: 100px;
    display:flex;
    padding: 17px 15px 16px;
}

.action .search {
    position: absolute;
    top: 0;
    right: 0;
    color: #2d2e7f;
    padding: 1px;
    font-size: 18px;
    border-radius: 0 6px 6px 0;
    border: 0;
    border-left: 1px solid #2d2e7f;
    background-color: #e5f6ff;
    margin: 0;
    height: 32px;
    text-align: center;
    width: 30px;
    line-height: 32px;
}

.search-bar-form {
    border-radius: 6px;
    border: 1px solid #2d2e7f;
    position: relative;
}

.search-bar-form:before {
    content: "";
    background: #000;
    position: fixed;
    height: 100%;
    width: 100%;
    opacity: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    left: 0;
    -webkit-transition-duration: .3s;
    transition-duration: .3s;
    z-index: -1000000;
    top: 0;
    visibility: hidden;
}

.fa-search:before{
    font-size: 20px;
    color: #101269;
}

.col-sm-4 {
    width: 16.66666667%;
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
}

.row {
    margin-left: -10px;
    margin-right: -10px;
}

.group-title {
    position: relative;
    font-size: 16px;
    padding-bottom: 15px;
    margin-bottom: 15px;
    color: #2a398c;
}

.group-menu .item p{
    display: block;
    float: none;
}



ul li a{
    text-decoration: none;
}

.submenu {
    /*display: flex;*/
    position: absolute;
    padding: 30px;
    display: none;
    z-index: 90;
    background-color: white;
    width: 400px; 
    height: 300px;
    justify-content: space-between;
}


h3 {
    font-weight: bold;
    color:  #0000cc;
    border-bottom: 1px solid #101269;
    text-align: start;
}

.submenulists {
   height: 20px;
   line-height: 30px;
   padding-right: 30px;
   float: left;
}

.submenulists li a:hover {
    color: red;
    font-weight: bold;
        
}

.item:hover .submenu {
    display: flex;
    /*position:fixed;*/
}


#footer {
    margin-top: 100px;
    border-top: 2px solid #eaeae1;
    width: 100%;
}

.footer {
    display: flex;
    justify-content: space-between;
}

.bottom-footer-item {
    padding-bottom: 100px;
    line-height: 40px;
}


.social-symbol {
    display: flex;

}

.title {
    font-size: 18px;
    font-weight: bold;
    color: #20315C;
}


#footer a,
.bottom-footer-item p{
    color: #606060;
}

.bottom-footer-item a {
    text-decoration: none;
}

.bottom-footer-item a:hover {
    text-decoration: underline;
}

.bottom-footer-item {
    padding-top: 50px;
}

.social-symbol i.fa {
    display: inline-block;
    border-radius: 60px;
    border: 1px solid #606060;
    font-size: 16px;
    padding: .5em .6em;
    color: #606060;
    margin-right: 1rem;
}

.social-symbol .fb-symbol i.fa {
    padding: .5em .8em;
}

.social-symbol {
    margin-right: 10px;
}

.copyright p{
    display: inline-block;
    padding-bottom: 40px;
    color: #606060;
    font-size: 16px;
}

.submenulists li{
    text-align: left;
   
}

.count-header {
    font-size: 24px;
    color: #20315c;
    background-color: #f0f2f4;
    margin: 0 -10px;
    padding: 10px 15px 15px;
}

.count-header span {
    font-weight: 600;
    color: #292bb7;
}

.sitemap {
    margin: 20px 0;
}

.list-content {
   width:  100%;
   height: auto;
   display:flex;
}

.left-content {
    height: auto; 
    width: 25%; 
    text-align: left;
    float:left;
    background-color: #FFFFFF;
    border-right: solid 1px #000;
    border-bottom: solid 1px #000;
    padding: 10px;
}
.cdz-block-title {
    padding: 15px 20px 0;
}

.cdz-block-title .title-block {
    color: #292bb7;
    text-transform: none;
    border-bottom: 3px solid #292bb7;
    display: inline-block;
    margin: 0;
    font-weight: 600;
    padding-bottom: 8px;
}

.product-type-key-attributes{
    padding: 15px 0 10px;    
    display: flex;
    font-size: 12px;
    float: right;
    justify-content: space-between;
    width: 100%;
    border-top: 1px solid #e6e7e8;
    padding: 8px 0 0;
}

.product-type-key-attribute {
    display: flex;
    align-items: center;
}


.product-type-key-attribute-textContainer {
    margin-left: 10px;

}

.product-type-key-attribute-label {
    color: #525252;
    font-weight: 400;
    font-size: 12px;
    line-height: normal;
}

.product-type-key-attribute-value {
    font-size: 13px;
    line-height: normal;
    color: #20315c;
    font-weight: 600;
}

.collapsible {
  background-color: #FFF;
  color: #2d2e7f;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition-delay: 0.5s;
}

.collapsible-active, .collapsible:hover {
  background-color: #FFF;

}

.collapsible:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.collapsible-active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

.collapsible-content {
  padding: 0 18px;
  margin-bottom: 18px;
  display: block;
  max-height: 0;
  overflow: hidden;
  background-color: #FFF;
  transition: max-height 0.2s ease-out;
}

.btn-buy {
    opacity: 1!important;
    width: 100%;
    height: 54px;
    line-height: 54px;
    padding: 0;
    background-color: #f43a3a;
    font-size: 22px;
    border-radius: 6px;
    margin: 0;
    color: #fff;
    text-transform: none;
    text-align: center;
    border: 0;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}

.thongtin-chitiet tr:nth-child(odd) {
    background-color: #f7f7f7;

}

.thongtin-chitiet tr td {
    padding: 10px;
}

.ctrl {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid #D5DCE6;
  background-color: #fff;
  border-radius: 5px;
  font-size: 30px;
}

.ctrl__counter {
  position: relative;
  width: 200px;
  height: 50px;
  color: #333C48;
  text-align: center;
  overflow: hidden;
}

.ctrl__counter.is-input .ctrl__counter-num {
  visability: hidden;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl__counter.is-input .ctrl__counter-input {
  visability: visible;
  opacity: 1;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl__counter-input {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  box-shadow: none;
  outline: none;
  border: none;
  color: #333C48;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  visability: hidden;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl__button {
  width: 100px;
  line-height: 50px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #8498a7;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.ctrl__button:hover {
  background-color: #90a2b0;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.ctrl__button:active {
  background-color: #778996;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.ctrl__button--decrement { border-radius: 5px 0 0 5px; }

.ctrl__button--increment { border-radius: 0 5px 5px 0; }

.ctrl__counter-num {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 50px;
  visability: visible;
  opacity: 1;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.ctrl__counter-num.is-increment-hide {
  opacity: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-animation: increment-prev 100ms ease-in;
  animation: increment-prev 100ms ease-in;
}

.ctrl__counter-num.is-increment-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: increment-next 100ms ease-out;
  animation: increment-next 100ms ease-out;
}

.ctrl__counter-num.is-decrement-hide {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-animation: decrement-prev 100ms ease-in;
  animation: decrement-prev 100ms ease-in;
}

.ctrl__counter-num.is-decrement-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: decrement-next 100ms ease-out;
  animation: decrement-next 100ms ease-out;
}

@-webkit-keyframes 
decrement-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}

@keyframes 
decrement-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}

@-webkit-keyframes 
decrement-next {  from {
 opacity: 0;
 -webkit-transform: translateY(-50px);
 transform: translateY(-50px);
}
}

@keyframes 
decrement-next {  from {
 opacity: 0;
 -webkit-transform: translateY(-50px);
 transform: translateY(-50px);
}
}

@-webkit-keyframes 
increment-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}

@keyframes 
increment-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}

@-webkit-keyframes 
increment-next {  from {
 opacity: 0;
 -webkit-transform: translateY(50px);
 transform: translateY(50px);
}
}

@keyframes 
increment-next {  from {
 opacity: 0;
 -webkit-transform: translateY(50px);
 transform: translateY(50px);
}
}


/** LIST SAN PHAM **/
.dataGrid .arrange-fill:nth-child(1) {
    border-left: none;
}

.dataGrid .arrange-fill-4-item:nth-child(4n+1) {
    border-left: none;
}

.dataGrid .arrange-fill-3-item:nth-child(3n+1) {
    border-left: none;
}

.dataGrid {
    display: flex !important;
    flex-flow: wrap; 
    align-items: center;
    justify-content: flex-start;
}

.arrange-fill {
    position: relative;
    min-height: 1px;
    padding: 0 10px 20px;
    max-height: 380px;
    border-left:solid 0.5px rgba(41,43,183,.2);
    border-bottom: .5px solid rgba(41,43,183,.2)
}

.arrange-fill-4-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 23%;
    flex: 1 1 23%;
    max-width: 23%;
    width: 23%;
}

.arrange-fill-3-item {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 30%;
    flex: 1 1 30%;
    max-width: 30%;
    width: 30%;
}

.arrange-fill .item-product {
    padding-bottom: 110px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.arrange-fill .list-image-wrapper {
    position: relative;
}

.arrange-fill img {
    width: 100%;
}

.arrange-fill .tile-content {
    font-size: 16px;
    text-align: left;
}

.arrange-fill .product-title {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
    background: 0 0;
    display: -webkit-box;
    font-size: 16px;
    line-height: 1.4;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 45px;
    margin: 0;
}

.productprice.listview {
    height: 52px;
}

.arrange-fill .productprice .price-box .old-price {
    display: inline-block;
    margin: 5px 10px 0 0;
}

.arrange-fill .productprice .price-box .old-price .price-wrapper {
    color: #242424;
}

.arrange-fill .product-description {
    display: none;
    font-size: 14px!important;
    color: #6d6e71!important;
    padding: 0;
}

.arrange-fill .productprice .price-box .normal-price .price {
    font-size: 20px;
    color: #ff3c3b;
    font-weight: 600;
}

.arrange-fill .view-detail {
    margin-top: 10px;
    text-align: center;
    border: none;
    height: 33px;
    line-height: 33px;
}

.arrange-fill .view-detail a {
    color: #fff;
    display: none;
    border-radius: 4px;
    background-color: #fe2c2b;
    transition: all .35s;
    -o-transition: all .35s;
    -moz-transition: all .35s;
    -webkit-transition: all .35s;
}

.arrange-fill:hover {
    -webkit-box-shadow: 0 3px 17px rgba(0,0,0,.16);
    box-shadow: 0 3px 17px rgba(0,0,0,.16);
    background-color: #fff;
}

.arrange-fill:hover .view-detail a{
    display:block;
}

.arrange-fill:hover .item-product .tile-content {
    bottom: 0;
}


.arrange-fill .item-product .tile-content {
    transition: all .15s;
    -webkit-transition: all .15s;
    -moz-transition: all .15s;
    z-index: 2;
    -o-transition: all .15s;
    padding: 15px 0 0;
    position: absolute;
    background: #fff;
    width: 100%;
    bottom: -40px;
}

/** **/
.c_ctrl {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  font-size: 15px;
}

.c_ctrl__counter {
  position: relative;
  width: 50px;
  height: 50px;
  color: #333C48;
  text-align: center;
  overflow: hidden;
}

.c_ctrl__counter.is-input .c_ctrl__counter-num {
  visability: hidden;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.c_ctrl__counter.is-input .c_ctrl__counter-input {
  visability: visible;
  opacity: 1;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.c_ctrl__counter-input {
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  box-shadow: none;
  outline: none;
  border: none;
  color: #333C48;
  font-size: 30px;
  line-height: 50px;
  text-align: center;
  visability: hidden;
  opacity: 0;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.c_ctrl__button {
  width: 40px;
  line-height: 40px;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #8498a7;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.c_ctrl__button:hover {
  background-color: #90a2b0;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.c_ctrl__button:active {
  background-color: #778996;
  -webkit-transition: background-color 100ms ease-in;
  transition: background-color 100ms ease-in;
}

.c_ctrl__button--decrement { border-radius: 5px 0 0 5px; }

.c_ctrl__button--increment { border-radius: 0 5px 5px 0; }

.c_ctrl__counter-num {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  line-height: 50px;
  visability: visible;
  opacity: 1;
  -webkit-transition: opacity 100ms ease-in;
  transition: opacity 100ms ease-in;
}

.c_ctrl__counter-num.is-increment-hide {
  opacity: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  -webkit-animation: increment-prev 100ms ease-in;
  animation: increment-prev 100ms ease-in;
}

.c_ctrl__counter-num.is-increment-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: increment-next 100ms ease-out;
  animation: increment-next 100ms ease-out;
}

.c_ctrl__counter-num.is-decrement-hide {
  opacity: 0;
  -webkit-transform: translateY(50px);
  transform: translateY(50px);
  -webkit-animation: decrement-prev 100ms ease-in;
  animation: decrement-prev 100ms ease-in;
}

.c_ctrl__counter-num.is-decrement-visible {
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-animation: decrement-next 100ms ease-out;
  animation: decrement-next 100ms ease-out;
}

@-webkit-keyframes 
decrement-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}

@keyframes 
decrement-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}

@-webkit-keyframes 
decrement-next {  from {
 opacity: 0;
 -webkit-transform: translateY(-50px);
 transform: translateY(-50px);
}
}

@keyframes 
decrement-next {  from {
 opacity: 0;
 -webkit-transform: translateY(-50px);
 transform: translateY(-50px);
}
}

@-webkit-keyframes 
increment-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}

@keyframes 
increment-prev {  from {
 opacity: 1;
 -webkit-transform: translateY(0);
 transform: translateY(0);
}
}

@-webkit-keyframes 
increment-next {  from {
 opacity: 0;
 -webkit-transform: translateY(50px);
 transform: translateY(50px);
}
}

@keyframes 
increment-next {  from {
 opacity: 0;
 -webkit-transform: translateY(50px);
 transform: translateY(50px);
}
}

#info-customer {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 60%;
    max-width: 100%;
    padding: 0 15px;
}

 .infor-customer {
    background: #fff;
    padding: 20px 15px;
}

 #info-customer .address-information {
    background: #fff;
    padding: 0 15px 10px;
}


 #info-customer .payment-method {
    background: #fff;
    padding: 20px 15px;
    margin: 30px 0 0;
}


 .title-block {
    font-size: 18px;
    color: #20315c;
}
 #info-customer .address-information {
    background: #fff;
    padding: 0 15px 10px;
}

 #info-customer .payment-method {
    background: #fff;
    padding: 20px 15px;
    margin: 30px 0 0;
}

#info-customer .payment-method .check-box-container {
    padding: 20px 40px 0;
}

.personal-information {
    padding: 20px 40px 0;
}

#info-customer .title-block .number {
    background-color: #20315c;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    margin-bottom: 0;
}

.personal-information .wapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.personal-information .wapper .information {
    -ms-flex: 0 0 100%;
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 10px;
    padding: 0 15px;
    position: relative;
}

.personal-information .wapper .information .title-input {
    font-size: 16px;
    color: #20315c;
    margin-bottom: 10px;
}

.personal-information .wapper .information input.error, .checkout-desktop .onepage-checkout .personal-information .wapper .information select.error, .checkout-desktop .onepage-checkout .personal-information .wapper .information textarea.error {
    border-color: #e02b27;
}

.personal-information .wapper .information input, .checkout-desktop .onepage-checkout .personal-information .wapper .information select {
    height: 42px;
    line-height: 42px;
}

.personal-information .wapper .information input, .checkout-desktop .onepage-checkout .personal-information .wapper .information select, .checkout-desktop .onepage-checkout .personal-information .wapper .information textarea {
    font-style: normal;
    padding: 0 15px;
    background: #fff;
    cursor: pointer;
    -webkit-appearance: none;
    border: 1px solid rgba(32,49,92,.2);
    font-size: 16px;
    color: #20315c;
    border-radius: 4px;
    font-family: inherit;
    vertical-align: baseline;
    width: 100%;
    box-sizing: border-box;
}

.validate-errors {
    margin-top: 10px;
    color: #e02b27;
    font-size: 12px;
    display: block;
}

.personal-information .wapper .information.half-column {
    -ms-flex: 0 0 50%;
    -webkit-box-flex: 0;
    flex: 0 0 50%;
    max-width: 50%;
}